{% extends "askme/base.html" %}
{% block content %}
<div class="d-flex justify-content-start gap-3 align-items-center w-100 mb-5">
    <h1>
        Log In
    </h1>
</div>

<div class="row gap-4">
    <div class="d-flex flex-column gap-2">
        <p style="color: red;">Sorry, wrong credentials :(</p>
        
        <form>
            <div class="mb-3 row align-items-center">
                <label for="login_form" class="col-2 col-form-label fs-4" style="font-weight: 500;">Login</label>
                <div class="col-10">
                    <input class="form-control w-50" type="text" placeholder="Login" aria-label="default input example" value="{{user.login}}" id="login_form">
                </div>
            </div>
            
            <div class="mb-3 row align-items-center">
                <label for="exampleInputPassword1" class="col-2 col-form-label fs-4" style="font-weight: 500;">Password</label>
                <div class="col-10">
                    <input type="password" class="form-control w-50" id="exampleInputPassword1" value="{{user.password}}">
                </div>
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-success" style="height: fit-content; width: fit-content;">Log In</button>
            </div>
            
            <div>
                <a href="#" style="text-decoration: none;">No account yet? Create it!</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}