{% extends "askme/base.html" %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-start gap-3 align-items-center w-100 mb-5">
    <h1>
        Settings: {{user.login}}
    </h1>
</div>

<div class="row gap-4">
    <div class="d-flex flex-column gap-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            

            <div class="mb-3 row align-items-center">
                <label for="{{ form.username.id_for_label }}" class="col-2 col-form-label">
                    <p class="mb-0 fs-4" style="font-weight: 500;">Login</p>
                </label>
                <div class="col-10">
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="text-danger">{{ form.username.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="mb-3 row align-items-center">
                <label for="{{ form.email.id_for_label }}" class="col-2 col-form-label">
                    <p class="mb-0 fs-4" style="font-weight: 500;">Email</p>
                </label>
                <div class="col-10">
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="text-danger">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
            </div>
            

            <div class="mb-3 row align-items-center">
                <label for="{{ form.avatar.id_for_label }}" class="col-2 col-form-label">
                    <p class="mb-0 fs-4" style="font-weight: 500;">Avatar</p>
                </label>
                <div class="col-10">
                    <div class="d-flex flex-column">
                        {% if form.instance.avatar %}
                            <img src="{{ form.instance.avatar.url }}" alt="Current avatar" class="img-thumbnail mb-2" style="width: 150px; height: 150px;">
                        {% else %}
                            <img src="{% static 'img/no_avatar.jpg' %}" alt="Avatar is not set" class="img-thumbnail mb-2" style="width: 150px; height: 150px;">
                        {% endif %}
                        {{ form.avatar }}
                    </div>
                    {% if form.avatar.errors %}
                        <div class="text-danger">{{ form.avatar.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-success" style="height: fit-content; width: fit-content;">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}