{% extends "askme/base.html" %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-start gap-3 align-items-center w-100 mb-5">
    <h1>
        Settings: {{user.login}}
    </h1>
</div>

<div class="row gap-4">
    <div class="d-flex flex-column gap-2">
        <form>
            <div class="mb-3 row align-items-center">
                <label for="login_form" class="col-2 col-form-label">
                    <p class="mb-0 fs-4" style="font-weight: 500;">Login</p>
                </label>
                <div class="col-10">
                    <input class="form-control w-50" type="text" placeholder="Login" aria-label="default input example" value="{{user.login}}" id="login_form">
                </div>
            </div>
            
            <div class="mb-3 row align-items-center">
                <label for="email_form" class="col-2 col-form-label">
                    <p class="mb-0 fs-4" style="font-weight: 500;">Email</p>
                </label>
                <div class="col-10">
                    <input type="email" class="form-control w-50" id="email_form" placeholder="name@example.com" value="{{user.email}}">
                </div>
            </div>
            
            <div class="mb-3 row align-items-center">
                <label for="nickname_form" class="col-2 col-form-label">
                    <p class="mb-0 fs-4" style="font-weight: 500;">Nickname</p>
                </label>
                <div class="col-10">
                    <input class="form-control w-50" type="text" placeholder="Nickname" aria-label="default input example" value="{{user.nickname}}" id="nickname_form">
                </div>
            </div>
            
            <div class="mb-3 row align-items-center">
                <label for="customFile" class="col-2 col-form-label">
                    <p class="mb-0 fs-4" style="font-weight: 500;">Avatar</p>
                </label>
                <div class="col-10">
                    <div class="d-flex flex-column">
                        <img src="{% static 'img\no_avatar.jpg' %}" alt="Avatar is not set" class="img-thumbnail mb-2" style="width: 150px; height: 150px;">
                        <input type="file" class="form-control w-50" id="customFile" />
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                <a href="{% url 'AskMe:question_list' %}">
                    <button type="submit" class="btn btn-outline-success" style="height: fit-content; width: fit-content;">Save</button>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}