
{% extends "askme/base.html" %}




        {% block content %}
        <div class="d-flex justify-content-start gap-3 align-items-center w-100 mb-5">
            <h1>
               Registration
            </h1>
            
        </div>


        <div class="row gap-4">
    
                <div class="d-flex flex-column gap-2">
                    <p style="color: red;">This email already exists :&lpar;</p>
                    <div class="row">
                        <div class="col-3">
                            <div class="d-flex flex-column gap-2">
                            <h4 class="me-2">Login</h4>
                            <h4 class="me-2">Email</h4>
                            <h4 class="me-2">Nickname</h4>
                            <h4 class="me-2">Password</h4>
                            <h4 class="me-2">Repeat password</h4>
                            <h4 class="me-2" for="customFile">Avatar</h4>
                      
                            

               
                        </div>
                      
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column gap-2">
                            <input class="form-control w-50" type="text" placeholder="Login" aria-label="default input example" value="My Login" id="login_form" >
                            <input type="email" class="form-control w-50" id="email_form" placeholder="name@example.com" value="my_email@aboba.ru">
                            <input class="form-control w-50" type="text" placeholder="Nickname" aria-label="default input example" value="My Name" id="nickname_form">
                            <input type="password" class="form-control w-50" id="password_form" value="shrek_password">
                            <input type="password" class="form-control w-50" id="repeat_password_form" value="shrek_password">
                            <input type="file" class="form-control w-50" id="customFile" />
                            
                            

                        </div>
                        </div>
                        
           
                    </div>
                    <button type="submit" class="btn btn-outline-success" style="height: fit-content; width: fit-content;">Register</button>
                    
       
             
               

                </div>
                
            </div>
            {% endblock %}
 