{% load static %}
<div class="card question-card" data-question-id="{{question.id}}" data-is-liked="{% if question.is_liked %}True{% else %}False{% endif %}">
    <div class="card-body">
        <div class="row"> 
            <div class="col-3">
                <div class="mb-2">
                    <img src="{{question.author.profile.avatar.url}}" alt="{% static 'img/no_avatar' %}" class="img-fluid" style="object-fit: cover;">
                    <p class="text-center mt-2 fw-bold">{{ question.author.username }}</p>
                </div>
                <div class="d-flex align-items-center gap-2 justify-content-center">
                    <button class="like-button" style="width: 2rem; height: 2rem;"></button>
                    <span class="like-count">{{question.like_count}}</span>
                </div>
            </div>
            <div class="col">
                <div>
                    <h5 class="card-title">
                        
                        <a href="{{question.get_absolute_url}}" style="text-decoration: none;">
                        {{question.title}}
                        </a></h5>
                </div>
                <p class="card-text">
                  {{question.content}}</p>
                <div class="d-flex gap-5">
                    <a href="{% url 'AskMe:question_detail' question.id %}" class="card-link">Answers ({{question.answer_question.count}})</a>
                    <div>
                        Tags:
                        {% for tag in question.tags.all %}
                     
                        <a href="{% url 'AskMe:get_by_tag' tag %}" class="card-link">{{tag}}</a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>