<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar  navbar-expand-lg border-bottom border-2 border-dark bg-body-secondary">
    <div class="container-fluid">
        <div class="w-100 d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="#">StackOverflow 2.0</a>

            <form class="d-flex col-7">
                <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
              </form>
              <button class="btn border border-dark p-2 rounded btn btn-success">Ask</button>

            <div class="d-flex gap-3">
                <a href="#" style="text-decoration: none;">Login</a>
                <a href="#" style="text-decoration: none;">Register</a>
            </div>
        </div>
    </div>
    </nav>


    <main class="container mt-3">



        <div class="row gap-4">
            <div class="col-8">
                <h1 class="mb-3">New Question</h1>
                <div class="d-flex gap-2 align-items-baseline mb-3">
                    <h4>Title</h4>
                    <input class="form-control" type="text" placeholder="Name your question" aria-label="default input example">
                </div>
                <div class="d-flex gap-2 align-items-baseline mb-3">
                    <h4>Text</h4>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="50" placeholder="Your question"></textarea>
                </div>
                <div class="d-flex gap-2 align-items-baseline mb-3">
                    <h4>Tags</h4>
                    <input class="form-control" type="text" placeholder="Your tags" aria-label="default input example">
                </div>
                <button class="btn btn-outline-success">
                    Publish
                </button>
            </div>
            <div class="col">
                <div>
                    <h1 class="mb-3">Popular tags</h1>
                    <div class="d-flex gap-2 flex-wrap">
                        <button href="#" class="border border-dark p-2 rounded btn btn-danger">Python</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-primary ">PostgreSQL</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-success">Golang</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-dark">C++</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-info">HTML</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-warning">CSS</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-secondary">Java</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-light">Javascript</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-danger">React</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-success" >Vue</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-warning">Django</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-primary">Redis</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-danger">Typescript</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-dark">Redux</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-primary">Tauri</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-warning">Kotlin</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-info">Swift</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-success">Shrek</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-primary">Vk</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-danger">C#</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-warning">CORS</button>
                        <button href="#" class="border border-dark p-2 rounded btn btn-primary">Proxy</button>
                    </div>
                </div>
                
                <div class="mt-2 border-top border-dark border-2">
                    <h2 class="mb-3">Best members</h2>
                    <div class="d-flex flex-column gap-1 ">
                        <span>
                            <a href="#" style="text-decoration: none;">MrMr</a>
                            
                        </span>
                        <span>
                            <a href="#" style="text-decoration: none;">ChatGPT</a>
                            
                        </span>
                        <span>
                            <a href="#" style="text-decoration: none;">Aboba</a>
                            
                        </span>
                        <span>
                            <a href="#" style="text-decoration: none;">MrBeast</a>
                            
                        </span>
                        <span>
                            <a href="#" style="text-decoration: none;">Tony Vanek</a>
                            
                        </span>
                    </div>



                </div>





            </div>
        </div>

    </main>



</body>

</html>