{% extends "askme/base.html" %}

<body>



    <main class="container mt-3">
        {% block content %}



        <div class="row gap-4">
 <div class="d-flex-column">
                <h1 class="mb-3">New Question</h1>
                <div class="d-flex gap-2 align-items-baseline mb-3">
                    <p class="col-2 col-form-label fs-4" style="font-weight: 500;">Title</p>
                    <input class="form-control" type="text" placeholder="Name your question" aria-label="default input example">
                </div>
                <div class="d-flex gap-2 align-items-baseline mb-3">
                    <p class="col-2 col-form-label fs-4" style="font-weight: 500;">Text</p>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="50" placeholder="Your question"></textarea>
                </div>
                <div class="d-flex gap-2 align-items-baseline mb-3">
                    <p class="col-2 col-form-label fs-4" style="font-weight: 500;">Tags</p>
                    <input class="form-control" type="text" placeholder="Your tags" aria-label="default input example">
                </div>
                <button class="btn btn-outline-success">
                    Publish
                </button>
            </div>
        </div>
            {% endblock %}