{% extends "askme/base.html" %}


        {% block content %}
        <div class="d-flex justify-content-start gap-3 align-items-center w-100">
            <h1>
                New Questions
            </h1>
            <a href="{% url 'AskMe:hot_questions' %}">
                Hot Questions!
            </a>
        </div>


        <div class="row gap-4">
            <div class="col-9">
                <div class="d-flex flex-column gap-2">
                    {% for question in questions %}
                    {% include 'askme/components/question_card.html' with questions=questions %}
                    {% empty %}
                    <div class="d-flex align-items-center gap-2">
                        <h3>Sorry, there is no such question!</h3>
                        <a href="{% url 'AskMe:ask' %}">Create one?</a>
                    </div>

                    
                    {% endfor %}

                </div>
                {% include 'askme/components/pagination.html' with page_obj=questions %}

                    </div>
                    {% endblock %}