{% extends "askme/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/like_button.css' %}">
<script src="{% static 'js/like_button.js' %}" defer></script>
{% endblock %}


<body>
    <main class="container mt-3">
        {% block content %}
  

        <div class="row gap-4">
                <div class="d-flex flex-column gap-3">
                    <div class="card border-0 border-bottom border-dark border-2 rounded-0 question-card" data-question-id="{{question.id}}" 
                    data-is-liked="{% if question.is_liked %}True{% else %}False{% endif %}"
                    data-is-author="{% if request.user == question.author %}True{% else %}False{% endif %}">
                        <div class="card-body">
                            <div class="row"> 
                                <div class="col-3">
                                    <div class="mb-2">
                                        <img src="{{question.author.profile.avatar.url}}" alt="{% static 'img\no_avatar.jpg' %}" class="img-fluid" style="object-fit: cover;">
                                        <p class="text-center mt-2 fw-bold">{{ question.author.username }}</p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2 justify-content-center">
                                        <button class="like-button" style="width: 2rem; height: 2rem;"></button>
                                        <span class="like-count">{{question.like_count}}</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <h5 class="card-title">{{question.title}}</h5>
                                    </div>
                                    <p class="card-text">
                                        {{question.content}}
                                    </p>
                                    <div class="d-flex gap-5">
                                        <div>
                                            Tags:
                                            {% for tag in question.tags.all %}
                                            <a href="{% url 'AskMe:get_by_tag' tag %}" class="card-link">{{tag}}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border-dark border-2 d-flex flex-column border-bottom gap-2">
                        {% for answer in answers %}
                        <div class="card mb-1 answer-card {{ answer.useful_class }}" 
                            data-answer-id="{{answer.id}}" 
                            data-is-liked="{% if answer.is_liked %}True{% else %}False{% endif %}" 
                            data-is-helpful="{% if answer.helpful %}True{% else %}False{% endif %}">
                            <div class="card-body">
                                <div class="row"> 
                                    <div class="col-3">
                                        <div class="mb-2">
                                            <img src="{{answer.author.profile.avatar.url}}" alt="{% static 'img\no_avatar.jpg' %}" class="img-fluid" style="object-fit: cover;">
                                            <p class="text-center mt-2 fw-bold">{{ answer.author.username }}</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-2 justify-content-center">
                                            <button class="answer-like-button" style="width: 2rem; height: 2rem;"></button>
                                            <span class="answer-like-count">{{answer.like_count}}</span>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column justify-content-between">
                                        <p class="card-text">
                                            {{answer.content}}
                                        </p>
                                        <div class="d-flex align-items-center form-check gap-3 mb-2">
                                            <input class="form-check-input helpful-checkbox" type="checkbox" 
                                                   value="{{ answer.id }}" 
                                                   id="flexCheckDefault_{{ answer.id }}" 
                                                   {% if answer.helpful %}checked{% endif %} 
                                                   style="height: 20px; width: 20px;">
                                            <label class="form-check-label" for="flexCheckDefault_{{ answer.id }}">
                                                Useful answer 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% include 'askme/components/pagination.html' with page_obj=answers %}
                    </div>
                    <form method="post">
                    {% csrf_token %}
                    <div class="d-flex flex-column gap-2">
                        <div class="d-flex gap-2 align-items-baseline mb-3">
                            <h4>{{form.content.label}}</h4>
                            {{form.content}}
                        </div>
                        <button type="submit" class="btn btn-outline-success" style="height: fit-content; width: fit-content;">Publish</button>
                    </div>
                </form>
                </div>
            </div>
            {% endblock %}